@model IEnumerable<Maddelavedu_Exam02.Models.Played>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Match.Stadium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Match.Stadium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayedID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlayedID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayedID })
        </td>
    </tr>
}

</table>
